<header class="large-screens">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg p-0">
            <div class="collapse navbar-collapse" id="mynavbar">
                <a routerLink="" class="navbar-brand m-0 p-0"><img alt src="assets/img/logo.png" width="36%"></a>
                <div class="right-nav">
                    <a href="" class="cus-btn text-white primary space">
                        <i class="fas fa-sync-alt"></i>
                        Refresh
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>

<header class="small-screen">
    <div class="container-fluid">
        <div class="mobile-menu">
            <div>
                <a class="navbar-brand" routerLink=""><img alt src="assets/img/logo.png"></a>
            </div>
            <div class="hamburger-menu">
                <a href="" class="cus-btn text-white primary">
                    <i class="fas fa-sync-alt"></i>
                </a>
            </div>
        </div>
    </div>
</header>