<div class="page-content">
    <section class="comming-soon p-40">
        <div class="container-fluid">
            <div class="content">
                <div class="details">
                    <h1 class="h-36">Chan once said ...</h1>
                    <div class="hero-banner-1 p-40">
                        <div class="container-fluid">
                            <div class="page-content">
                                <section class="categories">
                                    <div class="container-fluid categorie-item">
                                        <div class="row">
                                            <div class="col-lg-4 mb-3">
                                                <img [src]="anime.images.webp.image_url" alt="">
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <h2 class="h-36 mb-4">{{quote.character}}</h2>
                                                <h5 class="h-20 color-medium-gray mb-4">{{quote.anime}}</h5>
                                                <p>{{quote.english}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>